/* base.css */

#const_list {
	margin-top: 15px;
}

.gap {
	margin-left: 20px;
}

.faq dt {
	font-weight: bold;
	margin-top: 10px;
}

.selected {
	background: #67aa54;
	color: #fff;
	border-radius: 6px;
	padding: 0 7px;
	text-shadow: none;
}