/* style.css */
/* updated 14 May 2014 14:29 IST */

#const_list {
	margin-top: 15px;
}

.gap {
	margin-left: 20px;
}

.faq dt {
	font-weight: bold;
	margin-top: 10px;
}

.selected {
	background: #67aa54;
	color: #fff;
	border-radius: 6px;
	padding: 0 7px;
	text-shadow: none;
}

.ui-footer {
	padding-left: 10px;
}

#overall {
	max-width: 480px;
	margin: auto;
}

#overall label {
	float: left;
	line-height: 53px;
	clear: both;
	margin-right: 30px;
	min-width: 95px;
}

#overall .ui-input-text {
	float: right;
	width: 60%;
}

#overall .ui-input-btn {
	float: left;
	
}

#total {
	line-height: 2em;
	min-width: 65px;
	float: left;
	clear: both;
}

#___plus_0, #___plus_1, #___plus_2, .g-plus {
	-webkit-transform: translate(0, 7px);
	   -moz-transform: translate(0, 7px);
	    -ms-transform: translate(0, 7px);
	     -o-transform: translate(0, 7px);
	        transform: translate(0, 7px);
}

.alliances {
	border-bottom: 1px dotted #aaa;
	float: left;
	margin-bottom: 15px;
}

.coalition {
	background: #efefef !important;
}

.third {
	width: 30%;
	margin: 0;
	display: inline-block;
}

td {
	padding: 0 10px;
}

th
{
	border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even)
{
	background:#e9e9e9;
}