<!DOCTYPE html>
{% autoescape true %}
<html itemscope itemtype="http://schema.org/Organization">
<!-- Welcome, fellow hacker! It is nice that you are interested in how ChunaaviTukka works. Please have a look at https://github.com/animeshpathak/chunaavitukka/ and let us know if you'd like to be part of the team. -- the devs. -->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# quick_election: http://ogp.me/ns/quick_election#">

	<title>{% block title %}{% endblock %}</title>
	<meta name"description" content="Who doesn’t like attempting a good old Tukka? Chunaavi Tukka gives you that chance – to place your guesses, share them with your friends, and to have some fun, democracy style."/>

	<link rel="shortcut icon" href="/images/homelnk.png"> 
	<link rel="apple-itouch-icon" href="/images/homelnk@2x.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>
	<!--script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script-->
	<script src="/js/base.js"></script>
	<link rel="stylesheet" href="/css/chunav.min.css" />
	<link rel="stylesheet" href="/css/base.css" />

	<!-- Update your html tag to include the itemscope and itemtype attributes. -->

<!-- Add the following three tags inside head. -->
	<meta itemprop="name" content="{%block gtitle%}Chunaavi Tukka: Putting the guesswork back into politics{%endblock%}">
	<meta itemprop="description" content="&quot;Who doesn’t like attempting a good old Tukka? Chunaavi Tukka gives you that chance – to place your guesses, share them with your friends, and to have some fun, democracy style.">
	<meta itemprop="image" content="http://www.chunaavitukka.com/images/logo.png">
	
	<!-- Twitter Card data --> 
	<meta name="twitter:card" content="summary"> 
	<meta name="twitter:site" content="@chunaavitukka"> 
	<meta name="twitter:title" content="{% block twitter_title%}Chunaavi Tukka: Putting the guesswork back into politics{%endblock%}"> 
	<meta name="twitter:description" content="Who doesn’t like attempting a good old Tukka? Chunaavi Tukka gives you that chance – to place your guesses, share them with your friends, and to have some fun, democracy style."> 
	<meta name="twitter:creator" content="@chunaavitukka"> 
	<-- Twitter Summary card images must be at least 200x200px --> 
	<meta name="twitter:image" content=" http://www.chunaavitukka.com/images/logo.png">

	<!-- Open Graph tags -->
	<meta property="og:locale" content="en_US" />
	<meta property="og:image" content="http://www.chunaavitukka.com/images/logo.png" />
	<meta property="og:title" content="{% block fb_title %}Chunaavi Tukka: Putting the guesswork back into politics{% endblock%}" />
<!--	<meta property="og:url" content="URL here" /> Auto pick -->
	<meta property="og:site_name" content="Chunaavi Tukka" />
	<meta property="og:description" content="Who doesn’t like attempting a good old Tukka? Chunaavi Tukka gives you that chance – to place your guesses, share them with your friends, and to have some fun, democracy style."/>
	<meta property="fb:app_id" content="711698912237446">
	<meta property="og:type" content="quick_election.election" />
	{% block html_head %}{% endblock %}
</head>
  <body>
	<!-- put after opening body tag -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=711698912237446&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <div data-role="page">
  	<div data-role="header">
  		<a href="/" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
		{% block page_header %}{% endblock %}
		{% if ct_user %}<a href="/u/{{ct_user.key.id()}}/" data-transition="slide"  data-ajax="false">My Page</a> {% endif %}
		
	</div>
	<div data-role="main" class="ui-content {% block main_css_class %}{% endblock%}">
		{% block main_content %}{% endblock %}
	</div>
	
    <div data-role="footer">
	    <span class="gap"></span><a id='login_path' href="{{ url|safe }}" class="ui-btn" data-transition="slide">{{ url_linktext }}</a>  <a href="/s/" data-transition="slide" class="ui-btn" data-ajax="false">Settings</a> <a href="/faq/" data-transition="slide">FAQ</a> <span class="gap"></span> Powered by <a href="https://github.com/animeshpathak/chunaavitukka" data-transition="slide" target="_blank">ChunaaviTukka</a> <span class="gap"></span><!-- Share --> <a href="http://twitter.com/ChunaaviTukka" data-ajax="false" target="_blank">Feedback (Twitter)</a> <a href="https://www.facebook.com/chunaavitukka" data-ajax="false" target="_blank">Feedback (Facebook)</a> 	
		<a href="mailto:animesh@gmail.com?subject=ChunaaviTukka%20Feedback" data-ajax="false">Feedback (Email)</a> 

		<div class="fb-share-button" data-href="http://www.chunaavitukka.com/" data-type="button"></div> <!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="http://www.chunaavitukka.com/"></div>
		<a  data-ajax="false" href="https://twitter.com/share/?via=chunaavitukka&url=http://www.chunaavitukka.com/" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
	
  </div> <!-- page -->
	<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/platform.js">
  {parsetags: 'explicit'}
</script>

  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50883467-1', 'chunaavitukka.com');
  ga('send', 'pageview');

</script>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">gapi.plus.go();</script>


</html>
{% endautoescape %}