<!DOCTYPE html>
{% autoescape true %}
<html>
<head>

	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	<script src="/js/base.js"></script>
	{% block html_head %}{% endblock %}
</head>
  <body>

  <div data-role="page">
  	<div data-role="header">
  		<a href="/" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
		{% block page_header %}{% endblock %}
		<a id='login_path' href="{{ url|safe }}" class="ui-btn" data-transition="slide">{{ url_linktext }}</a> 
		
	</div>
	<div data-role="main" class="ui-content {% block main_css_class %}{% endblock%}">
		{% block main_content %}{% endblock %}
	</div>
    <hr/>

    <div data-role="footer">
	    <a href="/s/" data-transition="slide" class="ui-btn" data-ajax="false">Settings</a> <!-- <a href="/" class="ui-btn ui-icon-home ui-btn-icon-left" data-transition="slide" data-direction="reverse">Home</a> --> Powered by <a href="https://github.com/animeshpathak/chunaavitukka" data-transition="slide">ChunaaviTukka</a> Share <a href="http://twitter.com/ChunaaviTukka">Feedback</a>
	</div>
	
  </div> <!-- page -->
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50883467-1', 'chunaavitukka.com');
  ga('send', 'pageview');

</script>


</html>
{% endautoescape %}