<!DOCTYPE html>
{% autoescape true %}
<html>
<head><title>Chunaavi Tukka: predictions for {{contest_name}}</title></head>
  <body>
  <h1>Chunaavi Tukka: predictions for {{contest_name}}</h1>
    {% for prediction in predictions %}
	<div class="prediction">
	 {{prediction.candidate.name}} of {{prediction.candidate.party}} : {{prediction.support}}
	 </div>
    {% endfor %}

    <hr/>

    <a href="{{ url|safe }}">{{ url_linktext }}</a> | <a href="/">Home</a> | Powered by <a href="http://www.github.com/chunaavitukka">ChunaaviTukka</a>

  </body>
</html>
{% endautoescape %}
