{% extends "templates/base.html" %}
{% block title %}Chunaavi Tukka: predictions for {{contest_name}}{% endblock %}
{% block fb_title %}Chunaavi Tukka: predictions for {{contest_name}}{% endblock%}
{% block twitter_title%}Chunaavi Tukka: predictions for {{contest_name}}{%endblock%}
{%block gtitle%}Chunaavi Tukka: predictions for {{contest_name}}{%endblock%}
{% block page_header%}
        <h1>Chunaavi Tukka: predictions for {{contest_info.name}}, {{contest_info.state}}</h1>
{% endblock%}

{% block main_content %}


	 	<div id="toast" class="ui-content" style='display:none; background:#eeeeee; text-align:center; font-weight:bold; color:red; '></div>
	 	<div id="thanks" class="ui-content" style='display:none; background:#fffff0; text-align:center; font-weight:bold; '>Thanks for making a prediction!</div>
        {% for prediction in contest_info.predictions %}
	<div class="prediction">
	 {{prediction.candidate.name}} of {{prediction.candidate.party}}{% if prediction.candidate.coalition %}/{{prediction.candidate.coalition}}{% endif %} : <span id="score_{{prediction.candidate.id}}">{{prediction.support}}</span>	 {%if contest_info.selected_candidate%}{%if contest_info.selected_candidate.key.id() == prediction.candidate.id%} <span class="selected">You Selected</span> {%endif%}{%endif%}

	 
	 {%if not contest_info.selected_candidate%}

	 <input type="button" id="button_{{prediction.candidate.id}}" class="ui-btn {% if ct_user %}vote{% else %}login{%endif%}" data-position-to="origin" data-rel="popup" value="{% if ct_user %}I Predict Victory!!{% else %}Sign in to claim{%endif%}" data-candidate-id="{{prediction.candidate.id}}" data-contest-slug="{{slug}}" />

	 <input type="hidden" name="candidate_id" value="{{prediction.candidate.id}}"/>
	 {%endif%}

	 </div>

    {% endfor %}
		 	<div id="share_tukkas">
	<h3>Share this election's page with friends, let's see how good their tukkas are!</h3>
	(Please reload page if you do not see the buttons)<br/>
	<!-- put where you want the button to appear -->
	<div class="fb-share-button" data-href="http://www.chunaavitukka.com/c/{{slug}}/" data-type="button"></div> 
	<br/><br/><br/>
	<a  data-ajax="false" href="https://twitter.com/share/?via=chunaavitukka&url=http://www.chunaavitukka.com/c/{{slug}}/" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<br/><br/><br/>

<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="http://www.chunaavitukka.com/c/{{slug}}/"></div>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">gapi.plus.go();</script>

	</div>
{% endblock %}

