{% extends "templates/base.html" %}
{% block title %}Chunaavi Tukka: FAQ{% endblock %}
{% block fb_title %}Chunaavi Tukka: FAQ{% endblock%}
{% block page_header%}
	    <h1>FAQ</h1>
{% endblock%}

{% block main_content %}
<a href="/constituencies/" class='ui-btn' data-transition="slide">Most Important 105</a> <a href="/top20/" class='ui-btn' data-transition="slide">Top 20</a>
	    <h1>Chunaavi Tukka</h1>
		<dl class="faq">
		<dt>What is Chunaavi Tukka exactly?</dt>
		<dd>An app where you can predict results for Lok Sabha elections, 2014. We have a list of <a href="/constituencies/" data-transition="slide">105 most important contests</a>, and another of <a href="/top20/" data-transition="slide">'Top 20'</a> most bitterly fought contests in addition to an option for predicting the final tally of the biggest political parties in the country.<br/><br/>You can share your predictions with your friends and/or on social media via the buttons provided.</dd>
		
		<dt>Why do I need to login with my Google ID?</dt>
		<dd>Given we built the system over a weekend, we did not have time make a robust user management system of our own, and we figured it will be one less password for you to remember. Rest assured, your password is known only to Google.</dd>
		
		<dt>Why?</dt>
		<dd>Because these are the first elections in the times of a mature social media, and are being discussed everywhere, we thought a cute little app just for fun will be a good idea. And once the results are out, you can cross-check how well you did and brag among your friends about this very important life-skill - tukka making.</dd>
		
		<dt>Who can see my predictions?</dt>
		<dd>Anybody you share your predictions with or anybody who knows your user-id, which is a really long number actually. Of course nobody can edit/change your predictions.</dd>
		
		<dt>Who can see who I follow?</dt>
		<dd>Only you see whom you follow.</dd>
		
		<dt>Can I see who is following me?</dt>
		<dd>Unfortunately, no. We had very little time to develop this app so that functionality is missing. May be, next elections!  ;) That said, we are working on being able to tell you how many followers you have. How about that?</dd>
		
		<dt>What will you do with my data?</dt>
		<dd>Until the aliens land, we will save it in a safety vault 20,000 feet under the Pacific Ocean, and then sell it to Vogons when they attack Earth. (Seriously, nothing. We only have your email id, needed to setup the account, and we promise to never spam. Never ever ever ever ever.)</dd>
		
		<dt>Who made this?</dt>
		<dd>The idea <a href="http://twitter.com/animeshpathak/status/464743644231393280" target="_blank">originated</a> in <a href="http://www.twitter.com/animeshpathak/" target="_blank">@animeshpathak</a>'s head. He also did the backend coding, while <a href="http://www.twitter.com/hypnosh/" target="_blank">@hypnosh</a> and <a href="http://www.twitter.com/_jhand/" target="_blank">@_jhand</a> worked (very hard) on the frontend and UI design.  <a href="http://www.twitter.com/varungrover/" target="_blank">@varungrover</a> was the clueless non-geeky observer, political data gatherer, and copywriter. And <a href="http://www.twitter.com/c_aashish/" target="_blank">@c_aashish</a> helped us with the data for 105 constituencies.</dd>
		
		<dt>How can I help you guys?</dt>
		<dd>Share the link far and wide. Talk about it on Twitter, Facebook, WhatsApp, and even G+! Or <a href="http://www.github.com/animeshpathak/chunaavitukka/" target="_blank">take a look at our backend and frontend</a> and let us know if you’d like to help in augmenting them.<br/><br/>And yes, think of us when you spot a hardworking underpaid handsome person.</dd>
		
		</dl>
{% endblock %}
