<!DOCTYPE html>
{% autoescape true %}
<html>
<head><title>Welcome to Chunaavi Tukka!</title></head>
  <body>
    <h1>Welcome to Chunaavi Tukka!</h1>
	<h2>...putting the guesswork back into politics</h2>
	<ul>
	<li>See predictions by <a href="/u/admin/">admin</a></li>
	<li>See predictions for <a href="/c/varanasi/">varanasi</a></li>
	</ul>
    <hr/>

    <a href="{{ url|safe }}">{{ url_linktext }}</a> | <a href="/">Home</a> | Powered by <a href="https://github.com/animeshpathak/chunaavitukka">ChunaaviTukka</a>

  </body>
</html>
{% endautoescape %}