{% extends "templates/base.html" %}
{% block title %}Chunaavi Tukka: Create a New League{% endblock %}
{% block fb_title %}Chunaavi Tukka: Create a New League{% endblock%}
{% block twitter_title%}Chunaavi Tukka: Create a New League{%endblock%}
{%block gtitle%}Chunaavi Tukka: Create a New League{%endblock%}
{% block page_header%}
    <h1>Chunaavi Tukka: Create a New League</h1>
{% endblock%}

{% block main_content %}
<a href="/constituencies/" class='ui-btn third' data-transition="slide">Hot 105</a> <a href="/top20/" class='ui-btn third' data-transition="slide">Top 20</a> <a href="/overall-tally/" class="ui-btn third" data-transition="slide">The Lok Sabha</a> <a href="/l/new/" class="ui-btn third last" data-transition="slide">Make your League</a> 

	<h2>Use this form to create a new league, to which you can invite friends!</h2>
	<form action="/l/new/" method="POST" data-ajax="false">
		League Name (only letters, numbers, #, @, _, and spaces): <input name="league_name" placeholder="only letters, numbers, #, @, _, and spaces"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<a href="/u/{{ ct_user.key.id() }}/">See your profile</a>
{% endblock %}
