{% extends "templates/base.html" %}
{% block title %}Chunaavi Tukka: Make a Prediction{% endblock %}
{% block page_header%}
    <h1>Chunaavi Tukka: Overall Tally</h1>
{% endblock%}

{% block main_content %}

	<form action="/overall-tally/" method="POST" id="overall" data-ajax="false">
	<br />
	{% if overall_tukkas %}(last updated at {{overall_tukkas.updated_at.strftime('%Y-%m-%d %I:%M %p')}} GMT){% endif %}<br/><label for="UPA">UPA (538)</label>	<input type="number" name="UPA" limit="538"  min="0" max="538" step="1" team-type="coalition" class="coalition" value="{% if overall_tukkas %}{{overall_tukkas.upa}}{% else %}0{% endif%}"/>
	
	<label for="NDA">NDA (542)</label>	<input type="number" name="NDA" limit="542"  min="0" max="542" step="1" team-type="coalition" class="coalition" value="{% if overall_tukkas %}{{overall_tukkas.nda}}{% else %}0{% endif%}"/>
	
	<label for="INC">INC (464)</label>	<input type="number" name="INC" limit="464"  min="0" max="464" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.inc}}{% else %}0{% endif%}"/>
	
	<label for="BJP">BJP (428)</label>	<input type="number" name="BJP" limit="428"  min="0" max="428" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.bjp}}{% else %}0{% endif%}"/>
	
	<label for="AAP">AAP (432)</label>	<input type="number" name="AAP" limit="432"  min="0" max="432" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.aap}}{% else %}0{% endif%}"/>
	
	<label for="TMC">TMC/AITC (131)</label>	<input type="number" name="TMC" limit="131"  min="0" max="131" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.tmc}}{% else %}0{% endif%}"/>
	
	<label for="DMK">DMK (35)</label>	<input type="number" name="DMK" limit="35"  min="0" max="35" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.dmk}}{% else %}0{% endif%}"/>
	
	<label for="AIADMK">AIADMK (40)</label>	<input type="number" name="AIADMK" limit="40"  min="0" max="40" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.aiadmk}}{% else %}0{% endif%}"/>
	
	<label for="SP">SP (197)</label>	<input type="number" name="SP" limit="197"  min="0" max="197" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.sp}}{% else %}0{% endif%}"/>
	
	<label for="BSP">BSP (503)</label>	<input type="number" name="BSP" limit="503"  min="0" max="503" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.bsp}}{% else %}0{% endif%}"/>
	
	<label for="JD">JDU (93)</label>	<input type="number" name="JD" limit="93"  min="0" max="93" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.jd}}{% else %}0{% endif%}"/>
	
	<label for="RJD">RJD (29)</label>	<input type="number" name="RJD" limit="29"  min="0" max="29" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.rjd}}{% else %}0{% endif%}"/>
	
	<label for="CPI">CPI (68)</label>	<input type="number" name="CPI" limit="68"  min="0" max="68" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.cpi}}{% else %}0{% endif%}"/>
	
	<label for="BJD">BJD (21)</label>	<input type="number" name="BJD" limit="21"  min="0" max="21" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.bjd}}{% else %}0{% endif%}"/>
	
	<label for="SS">SS (58)</label>	<input type="number" name="SS" limit="58"  min="0" max="58" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.ss}}{% else %}0{% endif%}"/>
	
	<label for="MNS">MNS (10)</label>	<input type="number" name="MNS" limit="10"  min="0" max="10" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.mns}}{% else %}0{% endif%}"/>
	
	<label for="NCP">NCP (36)</label>	<input type="number" name="NCP" limit="36"  min="0" max="36" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.ncp}}{% else %}0{% endif%}"/>
	
	<label for="TDP">TDP (30)</label>	<input type="number" name="TDP" limit="36"  min="0" max="36" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.tdp}}{% else %}0{% endif%}"/>
	
	<label for="YSRC">YSRC (38)</label>	<input type="number" name="YSRC" limit="36"  min="0" max="36" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.ysrc}}{% else %}0{% endif%}"/>
	
	<label for="TRS">TRS (17)</label>	<input type="number" name="TRS" limit="36"  min="0" max="36" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.trs}}{% else %}0{% endif%}"/>
	
	<label for="CPI(M)">CPIM (36)</label>	<input type="number" name="CPIM" limit="36"  min="0" max="36" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.cpim}}{% else %}0{% endif%}"/>

	<label for="Others">Others (543)</label>	<input type="number" name="Others" limit="543"  min="0" max="543" step="1" team-type="party" class="party" value="{% if overall_tukkas %}{{overall_tukkas.others}}{% else %}0{% endif%}"/>
	

	<div class="ui-content" id="total">Total: 0</div>
	<input type="submit" value="Submit"/>
	</form>
{% endblock %}


