<!DOCTYPE html>
{% autoescape true %}
<html>
<head><title>Chunaavi Tukka: Settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
  <body>
    <div data-role="page">
      <div data-role="header">
    <h1>Chunaavi Tukka: Settings</h1>
      </div> <!-- header -->
	<div class="toast">{%if success %}Display name changed successfully{%else%}ERROR!!! {{error_message}}{%endif %}</div>
	<form action="/s/" method="POST">
		Display Name: <input name="display_name" value="{{ ct_user.display_name }}"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<a href="/u/{{ ct_user.key.id() }}/">See your profile</a>
    <hr/>
    <div data-role="footer">
      <a href="{{ url|safe }}" data-transition="slide">{{ url_linktext }}</a> | <a href="/" data-transition="slide" data-direction="reverse">Home</a> | Powered by <a href="https://github.com/animeshpathak/chunaavitukka" data-transition="slide">ChunaaviTukka</a>
    </div>

  </div>
  </body>
</html>
{% endautoescape %}