{% extends "templates/base.html" %}
{% block title %}Chunaavi Tukka: {{other_user.display_name}}'s predictions{% endblock %}
{% block fb_title %}Chunaavi Tukka: {{other_user.display_name}}'s predictions{% endblock%}
{% block twitter_title%}Chunaavi Tukka: {{other_user.display_name}}'s predictions{%endblock%}
{%block gtitle%}Chunaavi Tukka: {{other_user.display_name}}'s predictions{%endblock%}
{% block page_header%}
    <h1>Chunaavi Tukka: {{other_user.display_name}}'s Predictions</h1>
{% endblock%}

{% block main_content %}

	<h2>{{other_user.display_name}}{% if ct_user == other_user%}(<a href="/s/" data-transition="slide">change</a>){% endif%}'s Profile</h2>
	<h3>Overall Predictions by {{other_user.display_name}} {% if ct_user == other_user%}(<a href="/overall-tally/" data-transition="slide">update</a>){% endif%}</h3>
	<div id="overall_predictions">
	{% if ct_user == other_user%}(reload page if you don't see latest votes){% endif%}
	<table cellborder="1px">
	{%if ct_user == other_user %}
		<tr class="table-header"><td>Party</td><td>{{other_user.display_name}}{% if overall_predictions %}<br/>updated at {{overall_predictions.updated_at.strftime('%Y-%m-%d %I:%M %p')}}{% endif %}</td></tr>	
		<tr><td>UPA</td><td>{% if overall_predictions %}{{overall_predictions.upa}}{% else %} - {% endif %}</td></tr>
		<tr><td>NDA</td><td>{% if overall_predictions %}{{overall_predictions.nda}}{% else %} - {% endif %}</td></tr>
		<tr><td>INC</td><td>{% if overall_predictions %}{{overall_predictions.inc}}{% else %} - {% endif %}</td></tr>
		<tr><td>BJP</td><td>{% if overall_predictions %}{{overall_predictions.bjp}}{% else %} - {% endif %}</td></tr>
		<tr><td>AAP</td><td>{% if overall_predictions %}{{overall_predictions.aap}}{% else %} - {% endif %}</td></tr>
		<tr><td>TMC/AITC</td><td>{% if overall_predictions %}{{overall_predictions.tmc}}{% else %} - {% endif %}</td></tr>
		<tr><td>DMK</td><td>{% if overall_predictions %}{{overall_predictions.dmk}}{% else %} - {% endif %}</td></tr>
		<tr><td>AIADMK</td><td>{% if overall_predictions %}{{overall_predictions.aiadmk}}{% else %} - {% endif %}</td></tr>
		<tr><td>SP</td><td>{% if overall_predictions %}{{overall_predictions.sp}}{% else %} - {% endif %}</td></tr>
		<tr><td>BSP</td><td>{% if overall_predictions %}{{overall_predictions.bsp}}{% else %} - {% endif %}</td></tr>
		<tr><td>JD</td><td>{% if overall_predictions %}{{overall_predictions.jd}}{% else %} - {% endif %}</td></tr>
		<tr><td>RJD</td><td>{% if overall_predictions %}{{overall_predictions.rjd}}{% else %} - {% endif %}</td></tr>
		<tr><td>CPI</td><td>{% if overall_predictions %}{{overall_predictions.cpi}}{% else %} - {% endif %}</td></tr>
		<tr><td>BJD</td><td>{% if overall_predictions %}{{overall_predictions.bjd}}{% else %} - {% endif %}</td></tr>
		<tr><td>SS</td><td>{% if overall_predictions %}{{overall_predictions.ss}}{% else %} - {% endif %}</td></tr>
		<tr><td>MNS</td><td>{% if overall_predictions %}{{overall_predictions.mns}}{% else %} - {% endif %}</td></tr>
		<tr><td>NCP</td><td>{% if overall_predictions %}{{overall_predictions.ncp}}{% else %} - {% endif %}</td></tr>
		<tr><td>TDP</td><td>{% if overall_predictions %}{{overall_predictions.tdp}}{% else %} - {% endif %}</td></tr>
		<tr><td>YSRC</td><td>{% if overall_predictions %}{{overall_predictions.ysrc}}{% else %} - {% endif %}</td></tr>
		<tr><td>TRS</td><td>{% if overall_predictions %}{{overall_predictions.trs}}{% else %} - {% endif %}</td></tr>
		<tr><td>CPI(M)</td><td>{% if overall_predictions %}{{overall_predictions.cpim}}{% else %} - {% endif %}</td></tr>
		<tr><td>Others</td><td>{% if overall_predictions %}{{overall_predictions.others}}{% else %} - {% endif %}</td></tr>
	{% else %}
		<tr class="table-header"><td>Party</td><td>{{other_user.display_name}}{% if overall_predictions %}<br/>updated at {{overall_predictions.updated_at.strftime('%Y-%m-%d %I:%M %p')}}{% endif %}</td><td>Me{%if my_overall_predictions%}<br/>updated at {{my_overall_predictions.updated_at.strftime('%Y-%m-%d %I:%M %p')}}{% endif %}</td></tr>
		<tr><td>UPA</td><td>{% if overall_predictions %}{{overall_predictions.upa}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.upa}}{% else %} - {% endif %}</td></tr>
		<tr><td>NDA</td><td>{% if overall_predictions %}{{overall_predictions.nda}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.nda}}{% else %} - {% endif %}</td></tr>
		<tr><td>INC</td><td>{% if overall_predictions %}{{overall_predictions.inc}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.inc}}{% else %} - {% endif %}</td></tr>
		<tr><td>BJP</td><td>{% if overall_predictions %}{{overall_predictions.bjp}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.bjp}}{% else %} - {% endif %}</td></tr>
		<tr><td>AAP</td><td>{% if overall_predictions %}{{overall_predictions.aap}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.aap}}{% else %} - {% endif %}</td></tr>
		<tr><td>TMC/AITC</td><td>{% if overall_predictions %}{{overall_predictions.tmc}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.tmc}}{% else %} - {% endif %}</td></tr>
		<tr><td>DMK</td><td>{% if overall_predictions %}{{overall_predictions.dmk}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.dmk}}{% else %} - {% endif %}</td></tr>
		<tr><td>AIADMK</td><td>{% if overall_predictions %}{{overall_predictions.aiadmk}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.aiadmk}}{% else %} - {% endif %}</td></tr>
		<tr><td>SP</td><td>{% if overall_predictions %}{{overall_predictions.sp}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.sp}}{% else %} - {% endif %}</td></tr>
		<tr><td>BSP</td><td>{% if overall_predictions %}{{overall_predictions.bsp}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.bsp}}{% else %} - {% endif %}</td></tr>
		<tr><td>JD</td><td>{% if overall_predictions %}{{overall_predictions.jd}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.jd}}{% else %} - {% endif %}</td></tr>
		<tr><td>RJD</td><td>{% if overall_predictions %}{{overall_predictions.rjd}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.rjd}}{% else %} - {% endif %}</td></tr>
		<tr><td>CPI</td><td>{% if overall_predictions %}{{overall_predictions.cpi}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.cpi}}{% else %} - {% endif %}</td></tr>
		<tr><td>BJD</td><td>{% if overall_predictions %}{{overall_predictions.bjd}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.bjd}}{% else %} - {% endif %}</td></tr>
		<tr><td>SS</td><td>{% if overall_predictions %}{{overall_predictions.ss}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.ss}}{% else %} - {% endif %}</td></tr>
		<tr><td>MNS</td><td>{% if overall_predictions %}{{overall_predictions.mns}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.mns}}{% else %} - {% endif %}</td></tr>
		<tr><td>NCP</td><td>{% if overall_predictions %}{{overall_predictions.ncp}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.ncp}}{% else %} - {% endif %}</td></tr>
		<tr><td>TDP</td><td>{% if overall_predictions %}{{overall_predictions.tdp}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.tdp}}{% else %} - {% endif %}</td></tr>
		<tr><td>YSRC</td><td>{% if overall_predictions %}{{overall_predictions.ysrc}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.ysrc}}{% else %} - {% endif %}</td></tr>
		<tr><td>TRS</td><td>{% if overall_predictions %}{{overall_predictions.trs}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.trs}}{% else %} - {% endif %}</td></tr>
		<tr><td>CPI(M)</td><td>{% if overall_predictions %}{{overall_predictions.cpim}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.cpim}}{% else %} - {% endif %}</td></tr>
		<tr><td>Others</td><td>{% if overall_predictions %}{{overall_predictions.others}}{% else %} - {% endif %}</td>
		<td>{% if my_overall_predictions %}{{my_overall_predictions.others}}{% else %} - {% endif %}</td></tr>
	{% endif %}
	</table>
	</div>
	<h3>Predictions</h3>
	{% for prediction in predictions %}
	<div class="prediction">
	<a href="/c/{{prediction.cons.slug}}/" data-transition="slide" data-ajax="false">{{prediction.cons.name}}</a> : {{prediction.candidate.name}} ({{prediction.candidate.party}}{% if prediction.candidate.coalition %}/{{prediction.candidate.coalition}}{% endif %})
	 </div>
    {% endfor %}
	{%if ct_user != other_user %}<div id="toast" class="ui-content" style='display:none; background:#eeeeee; text-align:center; font-weight:bold; color:red; '></div>
	<div>{% if can_follow %}{% if ct_user %}<input type="button" id="user_follow_button" data-other-id="{{other_user.key.id()}}" value="Follow"/>{%else%}<a href="{{url}}" data-transition="slide" class="ui-btn" data-ajax="false">Login to Follow</a>{%endif%}{%else %} Already Following{%endif%}</div>{%else%}

	<div><h3>My Leagues</h3>
	<ul>
	{% for league in my_leagues %}
		<li><a href="/l/{{league.key.id()}}/" data-transition="slide">{{league.name}}</a></li>
	{% endfor %}
	</ul>
	</div>

	<div><h3>Following</h3>
	<ul>
	{% for other in follows %}
	<li><a href="/u/{{other.id}}/" data-transition="slide">{{other.display_name}}</a></li>
	{% endfor %}
	</ul>
	<div id="share_tukkas">
	<h3>Share your prediction with friends, let them know how good you are with your tukkas!</h3>
	(Please reload page if you do not see the buttons)<br/>
	<!-- put where you want the button to appear -->
	<div class="fb-share-button" data-href="http://www.chunaavitukka.com/u/{{ct_user.key.id()}}/" data-type="button"></div> 
	<br/><br/><br/>
	<a  data-ajax="false" href="https://twitter.com/share/?via=chunaavitukka&url=http://www.chunaavitukka.com/u/{{ct_user.key.id()}}/" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<br/><br/><br/>

<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="http://www.chunaavitukka.com/u/{{ct_user.key.id()}}/"></div>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">gapi.plus.go();</script>

	</div>
</div>{% endif %}
{% endblock %}
