{% extends "templates/base.html" %}
{% block title %}Chunaavi Tukka: {{ct_user.display_name}}'s predictions{% endblock %}
{% block page_header%}
    <h1>Chunaavi Tukka: {{ct_user.display_name}}'s predictions</h1>
{% endblock%}

{% block main_content %}
	{% for prediction in predictions %}
	<div class="prediction">
	For constituency <a href="/c/{{prediction.cons.slug}}/" data-transition="slide">{{prediction.cons.name}}</a> : {{prediction.candidate.name}} of {{prediction.candidate.party}}{% if prediction.candidate.coalition %}/{{prediction.candidate.coalition}}{% endif %}
	 </div>
    {% endfor %}
{% endblock %}





